# Flask 프레임워크
Flask==3.0.3
Werkzeug==3.0.3

# CORS 처리
Flask-CORS==4.0.1

# 데이터베이스
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7

# 환경 변수 관리
python-dotenv==1.0.1

# JWT 인증
Flask-JWT-Extended==4.6.0

# 유효성 검사
Flask-Marshmallow==1.2.1
marshmallow-sqlalchemy==1.0.0

# HTTP 요청
requests==2.32.3

# 날짜/시간 처리
python-dateutil==2.9.0

# 비밀번호 해싱
bcrypt==4.2.0

